<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do MVC App</title>
</head>
<body>
    <div class="todo__container">
        <div class="todo__main-title-container">
            <h1 class="todo__main-title">To-do List</h1>
        </div>
        <div class="todo__goto-container">
            <span class="indications">Create a To Do list clicking the button below</span>
            <a class="todo__goto" href="/todos"> New To Do List</a>
        </div>
    </div>
    
</body>
</html>