---

---

<header class="h-28 w-full my-0 mx-auto flex items-center text-black shadow-md">
    <nav class="flex gap-x-10 w-full justify-center">
        <div class="flex w-auto flex-1 justify-end items-end">
            <a href="/contacto" class="py-2 px-5">Sobre Nosotros</a>
            <a href="" class="py-2 px-5">Contacto</a>
            <a href="/about" class="py-2 px-5">Tiendas</a>
        </div>
        <div>
            <a href="/">
                <img src="/logo.svg" alt="logo de la galería de antigüedades los pajaros" />
            </a>
        </div>
        <div class="flex w-auto flex-1 items-end">
            <a href="" class="py-2 px-5">Fotos</a>
            <a href="" class="py-2 px-5">Ubicación</a>
            <a href="" class="py-2 px-5">Noticias</a>
        </div>
    </nav>
</header>