---

---

<article class="h-[30rem] bg-[#333] flex flex-col text-center justify-center gap-y-5 px-[20rem]">
    <h2 class="font-mastro text-6xl text-white">Encuentra las mejores antigüedades</h2>
    <p class="text-white text-2xl">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum ipsum eget neque consequat suscipit.</p>
</article>