<section>
    <div class="relative w-full h-auto text-center bg-[url('/img/img-slider-1.jpg')] bg-cover bg-no-repeat before:absolute before:left-0 before:top-0 before:w-full before:h-full before:bg-[rgba(0,0,0,.5)]"> <!--hero image -->
        <div class="relative flex justify-center items-center my-0"> <!--hero content -->
            <div class="text-white h-[85dvh] mx-40 shadow-[0_1.5rem_3rem_-0.75rem_hsla(0,0,0,0.25)] flex flex-col items-center justify-center"> <!--hero content inner -->
                <h1 class="text-6xl font-thin font-mastro">Las Mejores Antigüedades</h1>
                <p class="text-6xl font-mastro italic font-extralight">A tu alcance</p>
                <button class="py-2 px-10 border mt-6">Ver Tiendas</button>
            </div>
        </div>
    </div>
</section>