---

---

<article class="py-20 mx-20">
    <div class="mb-10 pb-2 border-b-2 ">
        <h2 class="font-mastro text-5xl font-semibold after:w-full">Tiendas de la galería</h2>
    </div>

    <div class="grid grid-cols-4 gap-x-10 gap-y-20">
        <div class="">
            <div class="mb-7">
                <img class="h-60 object-cover" src="/img/img-slider-3.jpg" alt="" />
            </div>
            <span class="block text-[1.4rem] uppercase">Tienda de ejemplo 1</span>
            <span class="text-[1rem] text-gray-600">Platería, Pintura, Porcelana</span>
        </div>

        <div class="">
            <div class="mb-7">
                <img class="h-60 object-cover" src="/img/img-slider-3.jpg" alt="" />
            </div>
            <span class="block text-[1.4rem] uppercase">Tienda de ejemplo 1</span>
            <span class="text-[1rem] text-gray-600">Platería, Pintura, Porcelana</span>
        </div>

        <div class="">
            <div class="mb-7">
                <img class="h-60 object-cover" src="/img/img-slider-3.jpg" alt="" />
            </div>
            <span class="block text-[1.4rem] uppercase">Tienda de ejemplo 1</span>
            <span class="text-[1rem] text-gray-600">Platería, Pintura, Porcelana</span>
        </div>

        <div class="">
            <div class="mb-7">
                <img class="h-60 object-cover" src="/img/img-slider-3.jpg" alt="" />
            </div>
            <span class="block text-[1.4rem] uppercase">Tienda de ejemplo 1</span>
            <span class="text-[1rem] text-gray-600">Platería, Pintura, Porcelana</span>
        </div>

        <div class="">
            <div class="mb-7">
                <img class="h-60 object-cover" src="/img/img-slider-3.jpg" alt="" />
            </div>
            <span class="block text-[1.4rem] uppercase">Tienda de ejemplo 1</span>
            <span class="text-[1rem] text-gray-600">Platería, Pintura, Porcelana</span>
        </div>

        <div class="">
            <div class="mb-7">
                <img class="h-60 object-cover" src="/img/img-slider-3.jpg" alt="" />
            </div>
            <span class="block text-[1.4rem] uppercase">Tienda de ejemplo 1</span>
            <span class="text-[1rem] text-gray-600">Platería, Pintura, Porcelana</span>
        </div>

        <div class="">
            <div class="mb-7">
                <img class="h-60 object-cover" src="/img/img-slider-3.jpg" alt="" />
            </div>
            <span class="block text-[1.4rem] uppercase">Tienda de ejemplo 1</span>
            <span class="text-[1rem] text-gray-600">Platería, Pintura, Porcelana</span>
        </div>

        <div class="">
            <div class="mb-7">
                <img class="h-60 object-cover" src="/img/img-slider-3.jpg" alt="" />
            </div>
            <span class="block text-[1.4rem] uppercase">Tienda de ejemplo 1</span>
            <span class="text-[1rem] text-gray-600">Platería, Pintura, Porcelana</span>
        </div>
    </div>
</article>