<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>MyFitnessTracker | Track your workout</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
</head>
<body>
    <header class="header__container">
        <div class="header__logo-container">
            <a href="/">
                <img src="/img/fitnessTrackerlogo.svg" class="header__logo">
            </a>
        </div>
        <div class="nav__container">
            <nav class="nav">
                <div class="nav__link-container">
                    <a href="/pricing" class="nav__link">Pricing</a>
                </div>
                <div class="nav__link-container">
                    <a href="/why-us" class="nav__link">Why Us</a>
                </div>
                <div class="nav__link-container">
                    <a href="/about-us" class="nav__link">About Us</a>
                </div>
                <div class="nav__link-container">
                    <a href="/contact" class="nav__link">Contact</a>
                </div>
            </nav>
        </div>

        <div class="header__icons-container">
            <div class="header__icon-container">
                <a href="/login">
                    <svg width="18" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true" class="w-6 h-6 text-gray-800 dark:text-white" viewBox="0 0 14 18"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm-2 3h4a4 4 0 0 1 4 4v2H1v-2a4 4 0 0 1 4-4Z"/></svg>
                </a>
            </div>
            <div class="header__icon-container">

            </div>
            <div class="header__icon-container">

            </div>
        </div>
    </header>
</body>
</html>