<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>MyFitnessTracker | Track your workout</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
</head>
    <body>
        <div class="login__page-container">
            <div class="login__page-left-container">
                <div class="login__page-left-text-container">
                    <span class="login__page-left-first-text">One account, across all Apps.</span>
                    <span class="login__page-left-second-text">TRACK YOUR PROGRESS</span>
                    <span class="login__page-left-third-text">Keep track of your progress each time you workout</span>
                </div>
            </div>
            <div class="login__page-right-container">
                <div class="login__box-container">
                    <div class="login__logo-container">
                        <a href="/">
                            <img src="/img/fitnessTrackerlogo.svg" class="header__logo">
                        </a>
                    </div>
                    <div class="login__text-container">
                        <span class="login__text">SIGN UP</span>
                    </div>
                    <div class="login__form-container">
                        <form action="/signup" method="POST">
                            <input type="text" name="userName" placeholder="User Name">
                            <input type="email" name="email" placeholder="Email">
                            <input type="password" name="password" placeholder="Password">
                            <input type="password" name="confirmPassword" placeholder="Confirm Password">
                            <input type="submit">
                        </form>
                    </div>
                    <div class="login__form-alerts">
                        <% if (locals.messages.errors) { %>
                            <% messages.errors.forEach( el => { %>
                                <div class="alert alert-danger"><%= el.msg %></div>
                            <% }) %>    
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>